.form {
   display: flex;
   align-items: center;
   gap: 15px;
   margin-bottom: 15px;
   &__input {
      padding: 10px;
      border-bottom: 1px solid transparent;
      transition: border-bottom 0.3s ease 0s;
      &:focus {
         border-bottom: 1px solid white;
      }
   }
   &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      flex: 0 0 30px;
      background: rgb(255, 18, 243);
      border-radius: 50%;
      color: #fff;
      font-size: 25px;
      @media (any-hover: hover) {
         transition: transform 0.3s ease 0s;
         &:hover {
            transform: scale(1.2);
         }
      }
   }
}
